@import "materialize/components/color";
$primary-color: color("red", "base") !default;
//$secondary-color: color("", "") !default;
@import "materialize";
@import "materialize/extras/nouislider";
@import "variable.scss";
body {
  color: $body-color;
}

.page-flexbox-wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.tabs-nav{
  height: 65px;
  .tab-nav{
    line-height: 65px;
    a{
      color: #fff !important;
    }
  }
}

#logo{
  max-width: 80%;
  padding-left: 10%;
  padding-top: 3%;
}
.dropdown-li{
  background-color: #fff;
  min-height: 32.3px !important;
  a.wide{
    display: block !important;
    color: red !important;
  }
}

.locale{
  min-width: 150px;
}

footer{
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.side-nav.custom-side-nav {
  width: 240px;
  background: $nav-admin-color;
}

.side-nav.custom-side-nav li {
  padding: 0;
}

.side-nav.custom-side-nav li:hover {
  background: none;
}

.side-nav.custom-side-nav li a {
  font-size: 16px;
  color: $color-side;
  width: 100%;
  padding: 0 4% 0 4%;
  line-height: 55px;
  height: 55px;
}

.side-nav.custom-side-nav li a:active, .side-nav.custom-side-nav li a:hover {
  color: white;
  background: $color-nav;
}

.side-nav.custom-side-nav li a i {
  position: relative;
  top: 5px;
  float: right;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  text-decoration: none;
}

.side-nav.custom-side-nav li a i:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  text-decoration: none;
}

.side-nav.custom-side-nav .badge {
  margin-right: 25px;
  height: 19px;
  line-height: 18px;
  margin-top: 18px;
  border-radius: 3px;
  width: auto;
  min-width: auto;
  font-size: 11.5px;
  text-align: center;
  padding: 1px  5px 0 4px;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px;
  max-height: auto;
  margin-left: -1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}
